NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=oCSbq9aZIVCOhQlSjw7KOo46yC3uEgxxui36biQz
NOVA_API_DB_HOST=10.82.3.90
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=NrbqxFkDkoXMngo6fZoSzqtZVYvK0oAj3sEcJWLX
PLACEMENT_DB_HOST=10.82.3.90
